<!DOCTYPE html>
<html>
<head>
	<title>Letter</title> 
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link href="css/fan.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>