<div class="letter">
<h1>LETTER TO THE FANS</h1>
<p>
Where to begin?</p>
<p>
The truth is always a good place. Let’s go there.
I love Blink and am incredibly grateful for having it in my life. It has given me everything. EVERYTHING. I started this band, it was in my garage where I dreamed up the mischief.
</p>
<p>
So what have I been doing behind the scenes? Well, I’ve tried to make things work. I’ve tried to help move this band down 50 different paths using my people, or other people, and people we don’t even know. I tried to put forth ideas about how we can grow and challenge ourselves to become a better band. I’m not sitting around waiting for someone else to do the work. I’m not wired that way.
</p>
<p>
The big reset was when I tried to put together a band summit in Utah where we’d talk and work things out. It quickly was narrowed down to three hours in someone’s dressing room in a shitty casino. What I hoped would be a positive get-together away from everything turned into an awkward meeting in a smelly convention hall dressing room. But it was there that I told Mark and Travis that as long as we talked, and things were good between us as real friends, that I would be engaged and work passionately. I'd mirror our personal relationship. Exact words.
</p>
<p>
Then, the EP was the test. Months later, we’re recording those songs. I was in the studio for two months and they came in for around 11 days. I didn’t mind leading the charge, but we had all agreed to give it 100%. And this time- no baggage.
</p>
<p>
Despite that, we still somehow managed to self-sabotage.
At one point, squabbling and politics forced me to pull the EP down at a time when 60,000 fans were trying to purchase it. And that blew my mind. I’d been trying so hard but that moment ultimately broke my spirit. I then realized that this band couldn't lose the years of ill will.
It was after that episode that I promised myself I would never be in that position again – to rely on the words we said to each other.
I remember asking one of them on the phone, “did you try your best? Like we all agreed to?” He was silent.
</p>
<p>
Are they at fault?
</p>
<p>
Am I? Of course. I'm nuts.
</p>
<p>
But there’s three of us – we’re all accountable. At the end of the day, we’ve always been dysfunctional, which is why we haven’t talked in months. But we never did. In the 8 years we have been together it has always been that way.
Over the past two and a half years, while a recording partner was being sought for a new Blink record, I launched a media company. I just put out a new Angels & Airwaves record and as some of you know, there’s a lot more coming – comics, books, a film, etc. The books will all come with music. This is a wheel that’s already in motion. So you can imagine my frustration when I was handed a 60-page Blink contract saying I couldn’t release an Angels album for 9 months and that the Blink album had to be recorded in 6 months, which was impossible for me. Doing so would force me to breach several artist contracts. Authors, Concept Artists, Animators... Many people.
</p>
<p>
They did eventually drop the Angels provision, but the part about having to finish a Blink album in 6 months remained. All of these other projects are being worked, exist in contract form– I can’t just slam the brakes and drop years of development, partnerships and commitments at the snap of a finger.
I told my manager that I will do Blink 182 as long as it was fun and worked with the other commitments in my life, including my family.
But Mark and Travis know all of this.
</p>
<p>
I wrote this same letter to them a year ago. But it created a massive argument, the biggest one yet actually. I just wanted us to do things we all agreed on. But that was their moment to dig in. From their view I was controlling everything. In reality, I was scared to put myself out there again. To repeat the EP experience.
</p>
<p>
I also wrote all of this to their managers this past December (who told me my bandmates weren’t angry and agreed with some of my ideas of how to grow the band).
</p>
<p>
So you can imagine my surprise when a press release went out yesterday—without my knowledge—about the band’s future. This is new to me. It’s not in my nature to fuel negativity about the legacy of the band on something as trashy as the Internet world.
</p>
<p>
But I guess that’s another example of how I differ from most. I follow the light... I follow passion and I make art. I hang with my son, my daughter and my wife.
</p>
<p>
At the end of the day, all of this makes me really sad.
Sad for us.
</p>
<p>
Sad for you- that you’re witnessing this immaturity.
I know them very well, and their current actions are defensive and divisive.
I suppose they’re doing this as a way to protect themselves from being hurt.
Like we all do.
</p>
<p>
And even as I watch them act so different to what I know of them to be, I still care deeply for them. Like brothers, and like old friends. But our relationship got poisoned yesterday.
</p>
<p>
Never planned on quitting, just find it hard as hell to commit.
</p>
<p>
-
Tom</p>
</div>
