<!DOCTYPE html>
  <html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Favorite Traveling Photos</h1>
      <ul>
        <li><img src='/img/fireworks.jpg' alt='A photo of fireworks.'/></li>
        <li><img src='/img/stars.jpg' alt='A photo of stars.'/></li>
        <li><img src='/img/mist.jpg' alt='A photo of mist.'/></li>
      </ul>
  </body>
  </html>